.DS_Store

.idea/

Labs/Lab 1/Intro2Python/
Programming Assignments/Programming Assignment 1/hw1/

__pycache__/

*.zip

/Labs/Lab 3/model.pth
/Labs/Lab 3/model_weights.pth
/Labs/Lab 3/data/

Final Project
/Programming Assignments/Programming Assignment 3/training_loss.png
/Programming Assignments/Programming Assignment 3/incorrectly_classified.png
/Programming Assignments/Programming Assignment 3/fmnist.pth
/Programming Assignments/Programming Assignment 3/correctly_classified.png
/Programming Assignments/Programming Assignment 3/data/
