.DS_Store

.idea/

Labs/Lab 1/Intro2Python/
Programming Assignments/Programming Assignment 1/hw1/
Problem Sets/CS4100 Problem Set 2.pdf

__pycache__/

*.zip

/Labs/Lab 3/model.pth
/Labs/Lab 3/model_weights.pth
/Labs/Lab 3/data/
